In [1]:
import numpy as np
import pandas as pd

In [2]:
x = np.array([1,2,3,4,5])
x

array([1, 2, 3, 4, 5])

In [3]:
y = np.arange(10).reshape(2,5)

In [4]:
y

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [6]:
w = np.array([[0,1,2],[3,4,5],[6,7,8]])
w

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [7]:
z = np.arange(9).reshape(3,3)
z

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [8]:
x

array([1, 2, 3, 4, 5])

In [9]:
print(np.square(x))

[ 1  4  9 16 25]

In [10]:
print(np.sqrt(x))

[1.         1.41421356 1.73205081 2.         2.23606798]

In [11]:
print(np.cos(x))

[ 0.54030231 -0.41614684 -0.9899925  -0.65364362  0.28366219]

In [12]:
print(np.max(x))

5

In [13]:
print(np.sum(x))

15

In [14]:
print(np.std(x))

1.4142135623730951

In [15]:
my_array = np.array([['Muffins', 'Blueberries',39],['Banana Bread','Walnuts',155],['Peanut Butter Bars','Corn Flakes', 200]])
my_array

array([['Muffins', 'Blueberries', '39'],
       ['Banana Bread', 'Walnuts', '155'],
       ['Peanut Butter Bars', 'Corn Flakes', '200']], dtype='<U18')

In [17]:
df = pd.DataFrame(my_array)
df

                    0            1    2
0             Muffins  Blueberries   39
1        Banana Bread      Walnuts  155
2  Peanut Butter Bars  Corn Flakes  200

In [23]:
df.index = ['Monday','Tuesday',"Wednesday"]
df.columns = ['Dessert','Ingredient','# Needed']
df

                      Dessert   Ingredient # Needed
Monday                Muffins  Blueberries       39
Tuesday          Banana Bread      Walnuts      155
Wednesday  Peanut Butter Bars  Corn Flakes      200